$cor-texto: #00f;

body {
  margin: 0;
  font: 20px sans-serif;
}

h1 {
  color: $cor-texto;
}

.secundaria {
  color: $cor-texto;
  width: 20%;
  float: left;
  border: 1px solid #cccccc;
}

.principal {
  color: $cor-texto;
  width: 78%;
  float: right;
  border: 1px solid #cccccc;
}

.rodape {
  clear: both;
  border: 1px solid #cccccc;
}
