@import "cores";

.container {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.link-normal:hover{
  text-decoration: underline;
}

.link-ext:hover{
  @extend .link-normal:hover;
}