body {
  margin: 0;
  padding: 10px;
  font: 20px sans-serif;
}

/* Variáveis */
$versao: "0.0.1";
$data: "28/12/2018";
$class: menu;
$font-size: 16px;
$line-height: 25px;
$blue: rgb(0, 0, 255);

/* INFO 
Versão #{ $versao }
Data: #{ $data }
*/

// Interpolação
div.#{ $class } {
  width: 100%;
  font: #{$font-size} / #{$line-height} sans-serif;
  color: #{$blue};
}

/* Aninhamento */
.principal {
  width: 90%;
  border: 1px solid #cccccc;

  p,
  div {
    font-size: 120%;
    a {
      color: red;
      text-decoration: none;

      /* Referência ao seletor pai [&] */
      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
  }
  pre {
    font-size: 150%;
  }
}

.footer {
  color: rebeccapurple;
  /* Definindo seletores separados por [-] ou [_] */
  &-esquerda {
    float: left;
    color: red;
  }
  &-direita {
    float: right;
    color: green;
  }
}
